![When we started distributing special status tokens that signify which people are important enough to join an elite group, we never could have imagined we might be creating some problems down the line.](https://imgs.xkcd.com/comics/twitter_verification.png)
> "[Twitter Verification](https://xkcd.com/1914/)", by Randall Munroe, licensed under Creative Commons Attribution-NonCommercial 2.5 License

## Alt Text
When we started distributing special status tokens that signify which people are important enough to join an elite group, we never could have imagined we might be creating some problems down the line.
