![That's very exciting! The bad news is that it's a risk factor for a lot of things.](https://imgs.xkcd.com/comics/genetic_testing_results.png)
> "[Genetic Testing Results](https://xkcd.com/1840/)", by Randall Munroe, licensed under Creative Commons Attribution-NonCommercial 2.5 License

## Alt Text
That's very exciting! The bad news is that it's a risk factor for a lot of things.
