---
id: xkcd.1914-twitter-verification
title: Twitter Verification
desc: ''
updated: 1510300800000
created: 1510300800000
sources:
  name: xkcd
  url: 'https://creativecommons.org/licenses/by-nc/2.5/'
  license: Creative Commons 2.5
---
![When we started distributing special status tokens that signify which people are important enough to join an elite group, we never could have imagined we might be creating some problems down the line.](https://imgs.xkcd.com/comics/twitter_verification.png)
> "[Twitter Verification](https://xkcd.com/1914/)", by Randall Munroe, licensed under Creative Commons Attribution-NonCommercial 2.5 License

## Alt Text
When we started distributing special status tokens that signify which people are important enough to join an elite group, we never could have imagined we might be creating some problems down the line.
