---
id: xkcd.genetic-testing-results
title: Genetic Testing Results
desc: ''
updated: '1616126764580'
created: '1495436400000'
sources:
  name: xkcd
  url: 'https://creativecommons.org/licenses/by-nc/2.5/'
  license: Creative Commons 2.5
---
![That's very exciting! The bad news is that it's a risk factor for a lot of things.](https://imgs.xkcd.com/comics/genetic_testing_results.png)
> "Genetic Testing Results", by Randall Munroe, licensed under Creative Commons Attribution-NonCommercial 2.5 License

## Transcript
